:root{
    /*Pega o tamanho padrão que é 16px e reduz 60%, assim ficando com 9.6px*/
    font-size: 60%;

    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

/*Definindo para todos os elementos esse estilo*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Dentro da pasta public no arquivo index.html*/

html, body, #root{
    /*Que a página sempre ocupe 100% da tela (altura total)*/
    height: 100vh;
}

body{
    /*Colocar no background a cor que está na variável setada desejada*/
    background: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea{
    /*Essa fonte poppins foi importada do Google Fonts*/
    font: 500 1.6rem Poppins;
    /*Escrever 1rem equivale a 9.6px, assim 1.6rem seria mais ou menos 16px que seria 
    equivalente a aumentar 60%*/
    color: var(--color-text-base);
}

.container{
    /*Ocupa 90% da tela horizontalmente*/
    width: 90vw;
    /*O limite da tela é 700px, assm enquanto estiver dentro dos 700px ela vai ocupar
    90% da tela.*/
    max-width: 700px;
}

/*Em dispositivos que tiver uma largura de no mínimo 700px o font-size passa a ser 62.5%*/
@media (min-width: 700px){
    :root{
        font-size: 62.5%;/*Como o padrão é 16, assim ficaria 10px*/
    }
}